
$dark: #655A7C;
$primary: #AB92BF;
$info: #AFC1D6;
$link: #CEF9F2;
$success: #D6CA98;

.zoom:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

@import "../node_modules/bulma/bulma.sass";