
$dark: #655A7C;
$primary: #AB92BF;
$info: #AFC1D6;
$link: #CEF9F2;
$success: #D6CA98;

@import "../node_modules/bulma/bulma.sass";

.player-button:hover {
  color: $info;
  text-decoration: line-through;
  cursor: pointer;
}

.promote {
  fill: $success;
}

.unselected {
  opacity: 0.25;
}

.unselected:hover {
  opacity: 0.75;
}
